<p id="notice"></p>
<div class="container">

  <div>
<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
  </div>

<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h1>Editing Book</h1>
    <%= form_with model:@book do |f| %>
    <div class="form-group">
      <label for="inputTitle">Title</label>

  <%= f.text_field :title, autofocus: true, id:"inputTitle", class: "form-control" %>

    </div>
    <div class="form-group">
      <label for="inputBody">Opinion</label>

  <%= f.text_field :body, autofocus: true, id:"inputBody", class: "form-control" %>

    </div>
    <div class="form-group">
       <%= f.submit "Update Book" %>
<% end %>

    </div>
    <%= link_to "Show", book_path(@book.id) %> |
    <%= link_to "Back", books_path %>
  </div>

</div>
</div>